<div class="header-container">
  <h2>Gestión de Productos</h2>
</div>

<div *ngIf="isLoading" style="text-align: center; padding: 50px;">
  <p>Cargando productos...</p>
</div>

<div *ngIf="!isLoading && error" style="color: red; text-align: center; padding: 50px;">
  <h3>Error al Cargar</h3>
  <p>{{ error }}</p>
</div>

<div>
  <button routerLink="/dashboard/productos/crearProducto" class="add-product-button">Agregar Producto</button>
  <button routerLink="/dashboard/productos/id" class="add-product-button">Buscar</button>
  <button routerLink="/dashboard/productos/actualizar-productos" class="add-product-button">Actualizar Productos</button>
</div>

<div *ngIf="!isLoading && !error">
  <table class="products-table" *ngIf="productos.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Existencias</th>
        <th>Razon</th>
        <th>Activo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.marca }}</td>
        <td>{{ producto.precio | currency }}</td>
        <td>{{ producto.existencias }}</td>
        <td>{{ producto.razon }}</td>
        <td>{{ producto.activo }}</td>
        <td>
          <a [routerLink]="['/dashboard/productos', producto.id, 'editar']">Actualizar</a>
          <button (click)="eliminarProducto(producto.id)" class="btn-accion btn-eliminar">Eliminar</button>
          <button (click)="toggleActivo(producto)" class="btn-accion btn-activar">
            {{ producto.activo ? 'Desactivar' : 'Activar' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="paginacion">
  <button (click)="paginaAnterior()" [disabled]="page === 0">Anterior</button>
  <span>Página {{ page + 1 }} de {{ totalPaginas }}</span>
  <button (click)="paginaSiguiente()" [disabled]="page === totalPaginas - 1">Siguiente</button>
</div>

  <div *ngIf="productos.length === 0" style="text-align: center; padding: 50px;">
    <p>No se encontraron productos para mostrar.</p>
  </div>
</div>